@property --myColor1 {
  syntax: '<color>';
  initial-value: white;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: white;
  inherits: false;
}

.task {
  background-color: white;

  background: linear-gradient(68.6deg, var(--myColor1) 1.8%, var(--myColor2) 100.5%);
  margin-bottom: 15px;
  padding-left: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  transition: --myColor1 1s, --myColor2 .5s;
  font-family: 'Raleway', sans-serif;

  &__main {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__type {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__type_study {
    background-color: #9376E0;
  }

  &__type_work {
    background-color: #E893CF;
  }

  &__type_other {
    background-color: #F3BCC8;
  }

  &__text {
    font-size: 24px;
  }

  &_completed {
    // background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    --myColor1: rgb(181, 255, 255);
    --myColor2: rgb(252, 165, 241);
  }

  &__functionality {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 15px;

    img {
      display: block;
    }

    &-done,
    &-edit,
    &-delete {
      cursor: pointer;
    }

    &-edit {
      margin-right: -3px;
    }

    &-done {
      border: 3px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 2px;
    }

    &-check {
      height: 14px;
      width: 14px;
    }

    &-check.active path {
      fill: none;
      stroke: #000;
      stroke-width: 4;
      stroke-dasharray: 23;
      stroke-dashoffset: 23;
      animation: draw .2s linear forwards;
      stroke-linecap: round;
      stroke-linejoin: round
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0
      }
    }
  }
}

@media(max-width:410px) {
  .task {
    padding-left: 10px;

    &__text {
      font-size: 18px;
    }

    &__functionality {
      padding-right: 10px;
    }
  }
}

@-moz-document url-prefix() {
  .task {
    background-color: #fff;
  }
}