.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

  &__main {
    display: flex;
    gap: 10px;
  }

  &__main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    width: 95px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  &__main-btn_study::before {
    background-color: #9376E0;
  }

  &__main-btn_work::before {
    background-color: #E893CF;
  }

  &__main-btn_other::before {
    background-color: #F3BCC8;
  }

  &__brackets {
    font-size: 30px;
    transition: .7s;

    &_padding {
      padding-left: 32px;
    }
  }

  &__completed {
    border: 1px solid white;
    text-transform: capitalize;
    background-color: transparent;
    color: white;
    margin-bottom: -3px;
    padding: 6px 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 77px;
    &_height-save{
      opacity: 0;
    }
    &-text{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease-in-out;
    }
    &-text.active{
      opacity: 1;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      transition: .3s;
      z-index: -1;
    }

    // transform: translate(31px, 16px) rotate(60deg);
    &::before {
      left: 0;
      bottom: 0;
      transform: translate(-75px, 25px) rotate(60deg);
      background: linear-gradient(60deg, rgba(147, 118, 224, 1) 0%, rgba(232, 147, 207, 1) 50%, rgba(243, 188, 200, 1) 100%);
    }

    &::after {
      left: 0;
      bottom: 0;
      transform: translate(75px, 0px) rotate(60deg);
      background: linear-gradient(-60deg, rgba(147, 118, 224, 1) 0%, rgba(232, 147, 207, 1) 50%, rgba(243, 188, 200, 1) 100%);
    }

    &.active {
      &::before {
        transform: translate(-20px, 25px) rotate(60deg);
      }

      &::after {
        transform: translate(31px, 16px) rotate(60deg);
      }
    }
  }
}