@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Raleway&display=swap');

.create-task {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff;
  padding-right: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  position: relative;

  &__text {
    height: 100%;
    width: 100%;
    padding: 15px;
    padding-left: 0;
    font-size: 24px;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
  }

  &__warning {
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    animation: rightAndLeft 1.5s forwards;
  }

  &__buttons {
    position: relative;
    min-width: 110px;
    height: 100%;
  }

  &__study,
  &__work,
  &__other {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 50;
    border: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  &__study {
    background-color: #9376E0;
    left: 20px;
  }

  &__work {
    background-color: #E893CF;
    left: 50px;
  }

  &__other {
    background-color: #F3BCC8;
    left: 80px;
  }

  &__study.active {
    &::before {
      background-color: #9376E0;
      border: 1px solid #ffffff;
    }
  }

  &__work.active {
    &::before {
      background-color: #E893CF;
      border: 1px solid #ffffff;
    }
  }

  &__other.active {
    &::before {
      background-color: #F3BCC8;
      border: 1px solid #ffffff;
    }
  }

  &__add {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}

@keyframes rightAndLeft {
  25% {
    transform: translateX(-15px);
    color: red;
  }

  50% {
    transform: translateX(15px);
    color: red;
  }

  75% {
    transform: translateX(0px);
  }

  100% {
    color: white;
  }
}