.edit-task__wrapper {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 225px;
}
.edit-modal{
  max-width: 900px;
  width: 100%;
}