* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
img,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: linear-gradient(145.6deg, rgb(72, 200, 160) 10.2%, rgb(237, 162, 211) 71.3%);
}

.container {
  max-width: 930px;
  padding: 0 15px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 100px;
}

.welcome-screen {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  position: absolute;

  &__title {
    font-size: 144px;
    letter-spacing: 30px;
    margin-right: -30px;
    text-align: center;
    animation: textScale 3s 1s forwards ease-in-out;
    color: #fff;
  }
}

@keyframes screenTop {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes textScale {
  0% {
    transform: translateY(0%) scale(1);
  }

  99% {
    transform: translateY(100%) scale(2.5);
    opacity: 0;
  }

  100% {
    transform: translateY(1000%);
  }
}

.main-screen {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  opacity: 0;
  animation: mainScreen 2s 2.5s forwards;

}

@keyframes mainScreen {
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}

@media (max-width:550px) {
  .welcome-screen {
    &__title {
      font-size: 75px;
    }
  }
}