* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.container {
  max-width: 930px;
  padding: 0 15px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 100px;
}

.welcome-screen {
  width: 100%;
  height: 100%;
  display: flex;
  // display: none;
  padding-top: 200px;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  position: absolute;

  &__title {
    font-size: 144px;
    letter-spacing: 30px;
    animation: textScale 3s forwards ease-in-out;
    color: #fff;
  }
}

@keyframes screenTop {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes textScale {
  0% {
    transform: translateY(0%) scale(1);
  }

  99% {
    transform: translateY(100%) scale(2.5);
    opacity: 0;
  }

  100% {
    transform: translateY(1000%);
  }
}

.main-screen {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  opacity: 0;
  animation: mainScreen 2s 2.5s forwards;

}

@keyframes mainScreen {
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}